.blog-post {
  font-family: Verdana;
  width: 500px;
  font-size: 13px;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
}

.blog-date {
  font-size: 15px;
  font-family: monospace;
}
